.detail {
  border-bottom: 1px solid #DBDBDB;
  margin: 0 20px;
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
}

.topRowOptions svg {
  fill: #C95747;
}

.topRowOptions {
  display: flex;
  justify-content: space-between;
}

.arrowUp {
  fill: #C95747 !important;
  height: 40px !important;
  width: auto !important;
  margin: 0 auto;
  transform: translateX(-50%);
}

.arrowContainer {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
}

.topRowOptions,
.facilityContainer {
  margin: 0 20px;
}

.facilityContainer {
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  border-radius: 0px 0px 12px 12px;
  /* so all the content stays within the cards while swiping up */
  overflow: hidden;
}

.swipeContainer {
  padding-bottom: 38px;
}

.centerVertically {
  display: flex;
  justify-content: center;
  flex-flow: column;
}

.distance {
  font-weight: 400 !important;
  font-size: 20px !important;
  margin: auto 0 !important;
}

.marginInFullscreen {
  padding: 30px 0;
}

.noImages {
  border-bottom: 1px solid #DBDBDB;
}
